{% extends 'base.html' %}
{% block title %} Отправленные письма {% endblock %}

{% block content %}
{% load user_filters %}


{% for email in page %}
<div class="card mb-3 mt-1 shadow-sm">
    <div class="card-body">
        <p class="card-text">
            <strong class="d-block text-gray-dark">{{ email.email }}</strong>
            Шаблон: {{ email.template }} Время отправки: {{ email.send_date }}
            <span style="color:{{ email.is_read|yesno:'Green,Red' }}">
                {{ email.is_read|yesno:"Прочитано,Не прочитано" }}
            </span>
        </p>
    </div>
</div>
{% endfor %}

{% if page.has_other_pages %}
{% include "parts/paginator.html" with items=page paginator=paginator%}
{% endif %}

{% endblock %}